body { background-color:red; margin-left:1em;}
header { color:white; font-size:4em}
img {width: 50%; }
footer {text-align:center}
aside {text-align:right; margin-right: 2em; font-family: cursive;}
h1, h2 {font-size:2em;}
li {color:green;}
p {font-weight: bolder;}
button {font-family:fantasy; background-color: green; border-radius:25% 10%;}
nav {font-size:3em; text-align:center; color:purple;}
function revealImage () {
  document.getElementById(hiddenImage).style.display= 'block'
}
